<form #loginForm="ngForm" (ngSubmit)="login()" class="flex-column form">
  <h1>Sign In</h1>
  <div class="flex-column" id="input-box">
    <label for="username">E-mail</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder=""
      autocomplete="email"
      required
      [(ngModel)]="loginData.email"
    />
  </div>
  <div class="flex-column" id="input-box">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder=""
      autocomplete="current-password"
      required
      [(ngModel)]="loginData.password"
    />
  </div>
  <button
    type="submit"
    *ngIf="!loading()"
    [disabled]="loginForm.invalid || loading()"
  >
    Login
  </button>
  <img
    *ngIf="loading()"
    class="loading-spinner"
    src="./../../../../assets/icons/svg/loading_spinner.svg"
    alt="Loading..."
  />
  <p id="prompt">
    Don't have an account? -
    <a [routerLink]="['/register']" routerlinkactive="router-link-active"
      >Register</a
    >
  </p>
</form>
