$public-header-height: 100px;
$public-footer-height: 15vh;

$user-header-height: 100px;
$user-footer-height: 8vh;

$background-color: #000101;
$border-color: #2e3236;
$secondary-color: #65686c;
$accent-color: #1c9bf1;
$secondary-accent-color: #eef3f5;

$main-font-color: #e7e9ea;
$secondary-font-color: #cfd1d1;